/* @layer reset, global, components, overrides; -> Rykket til Layout.astro */

@import url("./reset.css") layer(reset);
@import url("./global.css") layer(global);
@import url("./overrides.css") layer(overrides);

@layer global {
  :root {
    --color-black: #2d2d2d;
    --color-yellow: #ffcc4a;
    --color-white: #ffffff;
    --color-green: #4eafae;
    --color-light-grey: #f5f5f5;
  }
}
