---
import "@styles/main.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Subsrcibe from "@components/Subsrcibe.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>DIN TITEL HER. MÅSKE SOM PROP?</title>
    <style is:inline>
      @layer reset, global, components, overrides;
    </style>
  </head>
  <body>
    <Header/>
    <slot />
    <Subsrcibe />
     <Footer />
  </body>
</html>

<style>
 :root {
    --color-black: #2d2d2d;
    --color-yellow: #FFCC4A;
    --color-white: #FFFFFF;
    --color-green: #4EAFAE;
    --color-light-grey: #F5F5F5;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
  }
</style>
